body {
  margin: 0px;
}

#boys_and_girls {
  width: 80%;
  height: 100%;
  float: left;
  clear: both;
}

.candidate {
  width: 50px;
  height: 50px;
  border-radius:50px;
}

.candidate:hover {
  transform: rotate(360deg) scale(1.5);
  transition: all 0.5s ease;
}

.pos {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: solid pink 2px;
  position: absolute;
}

#person {
  width: 20%;
  right: 0px;
  position: absolute;
}

.room {
  border: solid pink 3px;
  padding: 5px;
  margin: 10px;
  border-radius:10px;
}

.room_title {
  width: 100%;
  text-align: center;
  font-family: monaco;
  padding: auto 10px;
  margin-bottom: 5px;
  border-bottom: solid pink 3px;
}

/* end of this file*/