body {
  margin: 0px;
}

#boys_and_girls {
  width: 80%;
  height: 100%;
  float: left;
}

.candidate {
  width: 60px;
  height: 60px;
  border-radius:60px;
}

.pos {
  width: 60px;
  height: 60px;
  border-radius:60px;
  border: solid pink 3px;
  position: absolute;
}