body {
  margin: 0px;
}

#boys_and_girls {
  width: 80%;
  height: 100%;
  float: left;
  clear: both;
}

.candidate {
  width: 50px;
  height: 50px;
  border-radius:50px;
}

.candidate:hover {
  transform: rotate(360deg) scale(1.5);
  transition: all 0.5s ease;
}

.pos {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: solid pink 2px;
  position: absolute;
}

#person {
  width: 20%;
  right: 0px;
  position: absolute;
}

.room {
  padding: 5px;
  margin: 10px;
  border-radius:10px;
}

.room_title {
  width: 100%;
  text-align: center;
  font-family: monaco;
  font-weight: bolder;
  padding: 5px 0;
  margin-bottom: 5px;
}

.boy {
  border: solid #0074D9 3px;
  color : #0074D9;
}

.boy_title {
  border-bottom: solid #0074D9 3px;
}

.girl {
  border: solid #B10DC9 3px;
  color : #B10DC9;
}

.girl_title {
  border-bottom: solid #B10DC9 3px;
}

/* end of this file*/